#background-pic {
	background-image: url("./la-me-california-commute-20150127.jpg");
}

footer {
	text-align: center;
	color: black;
}


.jumbotron {
	background-color: #b6ced4;
	color: white;
	text-align: center;

}

#refresh-button,
#add-train-btn {
	background-color: #31708f;
	color: white;
	border-color: #31708f;
}

#table-heading,
#trains-heading {
	background-color: #31708f;
	color: white;
	border-color: #31708f;
	
}