#background-pic {
	background-image: url("./la-me-california-commute-20150127.jpg");
}

footer {
	text-align: center;
	color: black;
}


.jumbotron {
	background-color: #b6ced4;
	color: white;
	text-align: center;
	background: rgba(182, 206, 212, 0.3)

}

#refresh-button,
#add-train-btn {
	background-color: #31708f;
	color: white;
	border-color: #31708f;
}

#table-heading,
#trains-heading {
	background-color: #31708f;
	color: white;
	border-color: #31708f;
	font-size: 16px;
	
}

#train-panel,
#add-train-panel {
	background: rgba(182, 206, 212, 0.3);
	font-size: 16px;
	color: white;
}


#train-panel:hover {
	background-color: rgba(182, 206, 212, 0.5);
	color: black;
}